// TODO: add hover style to the buttons

.NotesContainer {
    display: flex;
    gap: 5px;

    .Note {
        // TODO: same as for scales, exclude maybe
        font-size: 18px;
        padding: 8px 16px;
        border: 1px solid lightgrey;
        border-radius: 15px;
        background-color: white;
        color: black;

        &.SelectedNote {
            background-color: lightyellow;
            border-color: orange;
        }
    }
}

.ScalesContainer {
    display: flex;
    gap: 5px;

    .Scale {
        font-size: 18px;
        padding: 8px 16px;
        border: 1px solid lightgrey;
        border-radius: 15px;
        background-color: white;
        color: black;

        &.SelectedScale {
            background-color: lightyellow;
            border-color: orange;
        }
    }
}
